@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<main role="main">
    <div class="container marketing">

        <div class="row">
            <div class="col-lg-4">
                <img class="rounded-circle" src="/Pictures/OurStaff.jpg" alt="Generic placeholder image" width="140" height="140">
                <h2 class="marketinghead">Our Staff</h2>
                <p>In the heart of our culinary haven, a maestro orchestrates a symphony of flavors that dance on the palates of our patrons. Meet our culinary virtuoso, Stanislav, the creative genius behind the delectable offerings that define our establishment.</p>
                @*<p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>*@
            </div>

            <div class="col-lg-4">
                <a href="/Recipes">
                    <img class="rounded-circle" src="/Pictures/dish1.jpg" alt="Generic placeholder image" width="140" height="140">
                </a>
                <h2 class="marketinghead">Culinary Beauty</h2>
                <p>Each dish is a masterpiece meticulously crafted by culinary artisans. "Culinary Beauty" is not just a collection of meals; it is a symphony of professionally made dishes that tantalize the taste buds and elevate the dining experience.</p>
            </div>

            <div class="col-lg-4">
                <a href="/PublicFridge">
                    <img class="rounded-circle" src="/Pictures/products.jpg" alt="Generic placeholder image" width="140" height="140">
                </a>
                <h2 class="marketinghead">Our Products</h2>
                <p>
                    Discover a culinary journey with us, where every dish is a masterpiece crafted from the finest, locally sourced ingredients. Our commitment to quality ensures a dining experience that delights the senses and captures the essence of exceptional flavors.
                </p>
            </div>

        </div>
        <hr class="mt-4 mb-4">
        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">Truly unique experience - <span class="greentext">For the whole family</span></h2>
                <p class="lead"> a truly unique culinary experience that promises to delight the taste buds of every member of your family! This steak is not just a meal; it's a celebration of flavors and a bonding experience for the whole family.Prepare your senses for an unparalleled flavor explosion with our Family Feast Steak. Crafted with precision and passion, each bite is a journey through savory perfection. The steak is marinated to perfection, ensuring that every cut is infused with a symphony of mouthwatering tastes that will leave your family craving for more.What sets our Family Feast Steak apart is its consistently superb taste. Whether you're firing up the grill for a weekend barbecue or sizzling it on the stovetop for a cozy family dinner, this steak delivers a super delicious experience every time. A carefully curated blend of spices and seasonings that elevates the taste to new heights.</p>
            </div>
            <div class="col-md-5">
                <img width="500" height="500" class="featurette-image img-fluid mx-auto" src="/Pictures/steak2.jpg" alt="Generic placeholder image">
            </div>
        </div>

        <hr class="mt-4 mb-4">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">With a lot of care. <span class="greentext">Especially for the little ones.</span></h2>
                <p class="lead">Savor the unbeatable combination of juicy meatballs and crispy fries, creating a flavor fusion that's simply irresistible. Each bite is a burst of savory delight that the whole family will love.Enjoy quality family time without the fuss. Our Family Fun Meatballs & Fries are quick and easy to make. From rolling meatballs to perfectly golden fries, it's a stress-free culinary adventure that everyone can partake in.</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img width="500" height="500" class="featurette-image img-fluid mx-auto" src="/Pictures/meatballs.jpg" alt="Generic placeholder image">
            </div>
        </div>

        <hr class="mt-4 mb-4">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">Now, <span class="greentext">Pancakes?</span></h2>
                <p class="lead">Indulge in the joy of perfect pancakes – soft, fluffy, and utterly delicious. Our recipe guarantees a heavenly experience with each golden, melt-in-your-mouth bite.Turn breakfast into a moment of connection. Create a pancake masterpiece that suits every taste bud. Whether you love classic syrup and berries or get creative with chocolate chips and whipped cream, our pancakes are a canvas for your family's flavor preferences.The Perfect Pancake Fiesta encourages family bonding around the breakfast table, making mornings extra special with the aroma of freshly cooked pancakes and shared smiles.</p>
            </div>
            <div class="col-md-5">
                <img width="500" height="500" class="featurette-image img-fluid mx-auto" src="/Pictures/pancake.jpg" alt="Generic placeholder image">
            </div>
        </div>
    </div>
</main>

